<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<!-- Define targets -->
	<targets>
		<!-- File logging target -->
		<target xsi:type="File" name="logfile"
				fileName="logs/${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				maxArchiveFiles="30"
				archiveEvery="Day" />
	</targets>

	<!-- Define logging rules -->
	<rules>
		<!-- Log everything to file -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>